<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <title>Explanier</title>

        <!-- ---------------------------- -->
        <!-- Styling  -->
        <!-- ---------------------------- -->

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
        <!-- ---------------------------- -->
        <!-- Syntax highlight  -->
        <!-- ---------------------------- -->

        <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

        <!-- and it's easy to individually load additional languages -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/gherkin.min.js"></script>

        <script>hljs.highlightAll();</script>
</head>

<body>

        <main class="container">
                <h1>Why bad coffee?</h1>



                <h2>Belief state</h2>
                <p>In this moment, agent believed that</p>
                {%for bel in beliefs:%}
                {{bel.name}} was {{bel.value}}
                {%endfor %}
                <h2>Scenario</h2>
                Given scenario_name in
                <pre> <code class="language-gherkin">{{feature_text}} </code> </pre>

        </main>
</body>

</html>
