<section id="accordions">
  {%for scenario in scenarios %}

  {% set name = scenario['name']%}
  {% set status = scenario['status']%}


  <details>
    <summary role="button" class="pico-background-{{status | status2color}}-500"> Scenario: {{name}} - {{status}}
    </summary>

    {%if status == 'failed'%}

    {% set given, when, then = scenario_breakdown(scenario) %}

    <p>In this case, <b>given</b></p>
    <ul>
      {%for step in given%}
      <li>
        {{step['name'] | past_tense}}
      </li>
      {%endfor%}
    </ul>

    <p>However, <b>when</b> {{when['name'] | past_tense}} <b>Then</b></p>
    <ul>

      {%for step in then%}
      <li>
        {{step | explain_failed_step}}
      </li>
      {%endfor%}

    </ul>
    {%endif%}

    {%set span = find_span_for_scenario(scenario, trace) %}
    <p>This decision was
      triggered by <b>{{span['xag.trigger.kind']}}</b>
      in <b>{{span['xag.trigger.type']}}</b>
    </p>


    <h3>Scenario steps breakdown:</h3>
    {%for step in scenario['steps']%}
    {%if 'result' in step%}
    {% set step_status = step['result']['status'] %}
    {%else%}
    {% set step_status = 'uneval' %}
    {%endif%}
    <p class="pico-background-{{ step_status | status2color}}-50"> {{step['keyword']}} {{step['name']}} (step
      {{step_status}})
    </p>
    {%if step_status == 'failed'%}
    <p> error message: {{step['result']['error_message']}}</p>
    {%endif%}
    {%endfor%}

    <!-- <pre> <code class="language-gherkin"> -->
    <!--     {%for step in scenario['steps']%} {{step['keyword']}} {{step['name']}} -->
    <!--     {%endfor%} </code> </pre> -->
    <!---->
    {%if debug:%}
    <details>
      <summary>Full trace</summary>

      <pre> <code class="language-json">{{scenario| tojson(2)}} </code> </pre>
    </details>

    {%endif%}
  </details>
  {%endfor%}

</section>
